{% extends "base.html" %}
{% load static %}
{% block title %}トップページ{% endblock %}
<!-- Page Header-->
{% block header %}
<style>
header.masthead {
    padding-top: calc(3rem + 57px);
}
.btn{
    text-decoration: none;
}
.btn-primary {
    margin-right: 8px;
}
</style>
<header class="masthead" style="background-image: url({% static 'assets/img/school-times-3599175_1920.jpg' %}); height: 50vh;">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>WorkBook</h1>
                    <h2>問題集を解いて知識を深めましょう！</h2>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
<!-- Main Content-->
{% block contents %}
<div class="py-2 text-center container">
    <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
            <p>
                {% if user.is_authenticated %}
                    <div class="d-flex justify-content-center my-2">
                        <a href="{% url 'workbook:chapter_select' %}" class="btn btn-primary mr-2">問題を選択</a>
                        <form method="post" action="{% url 'accounts:logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-secondary">ログアウト</button>
                        </form>
                    </div>
                {% else %}
                    <div class="d-flex justify-content-center my-2">
                        <a href="{% url 'accounts:signup' %}" class="btn btn-primary mr-2">今すぐサインアップ</a>
                        <a href="{% url 'accounts:login' %}" class="btn btn-secondary">登録済みの方はログイン</a>
                    </div>
                {% endif %}
            </p>
        </div>
    </div>
</div>
{% endblock %}