{% extends "base.html" %}
{% load static %}
{% block title %}トップページ{% endblock %}
<!-- Page Header-->
{% block header %}
<style>
header.masthead {
    padding-top: calc(3rem + 57px);
}
.btn{
    text-decoration: none;
}
</style>
<header class="masthead" style="background-image: url({% static 'assets/img/home-bg.jpg' %}); height: 50vh;">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>WorkBook</h1>
                    <h2>問題集を解いて知識を深めましょう！</h2>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
<!-- Main Content-->
{% block contents %}
<div class="py-2 text-center container">
    <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
            <p>
                <a href="{% url 'accounts:signup' %}" class="btn btn-primary my-2">今すぐサインアップ</a>
                <a href="#" class="btn btn-secondary my-2">登録済みの方はログイン</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}