{% extends "base.html" %}
{% load static %}
{% block title %}{{ questions.0.chapter }}の問題選択画面{% endblock %}
<!-- Page Header-->
{% block header %}
<header class="masthead" style="background-image: url({% static 'assets/img/book-1868068_1280.jpg' %})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>問題を選択</h1>
                    <h2>{{ questions.0.chapter }}</h2>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
<!-- Main Content-->
{% block contents %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            {% for q in questions %}
            <div class="post-preview">
                <a href="{% url 'workbook:question_detail' pk=q.pk %}">
                    <h2 class="post-title">{{ q.question_number }} {{ q.category }} ~{{q.level}}~</h2>
                </a>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            {% endfor %}
        </div>
    </div>
</div>
<!-- Divider-->
<hr class="my-4" />
{% endblock %}
{% block navigation %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'workbook:chapter_select' %}">{{questions.0.chapter}}</a></li>
    </ol>
</nav>
{% endblock %}