{% extends "base.html" %}
{% load static %}
{% block title %}サインアップ{% endblock %}
<!-- Page Header-->
{% block header %}
<header class="masthead" style="background-image: url({% static 'assets/img/background-2300415_1920.jpg' %})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>サインアップ</h1>
                    <span class="subheading">新しく登録するアカウントの情報を入力してください</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
<!-- Main Content-->
{% block contents %}
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="my-5">
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <p>
                                {{field.label_tag}}<br>
                                {{field}}
                                {% if field.help_text %}
                                    <small style='color:gray'>{{field.help_text}}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                    <p style='color:red'>{{error}}</p>
                                {% endfor %}
                            </p>
                        {% endfor %}
                        <input type="submit" value="サインアップ">   
                    </form>
                    <br>
                    <p><a href="{% url 'workbook:index' %}">登録をやめてトップページに戻る</a></p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}